<!--A Design by W3layouts
  Author: W3layout
  Author URL: http://w3layouts.com
  License: Creative Commons Attribution 3.0 Unported
  License URL: http://creativecommons.org/licenses/by/3.0/
  -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Proceed Checkout Form a Flat Responsive Widget Template :: w3layouts </title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Proceed Checkout Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates,
      Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"/>
    <script>
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- font-awesome icons -->
    <link href="{{ url_for('static', filename='css/fontawesome-all.min.css')}}" rel="stylesheet" type="text/css" media="all">
    <!-- //font-awesome icons -->
    <!-- Meta tags -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css')}}" type="text/css" media="screen" />
    <link href="{{ url_for('static', filename='css/popup-box.css')}}" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-ups-->
    <!--stylesheets-->
    <link href="{{ url_for('static', filename='css/style.css')}}" rel='stylesheet' type='text/css' media="all">
    <!--//style sheet end here-->
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
  </head>
  <body>

    
    <h1 class="header-w3ls">
      Thankyou!
    </h1>

    
    <div class="copy">
      <p>&copy;2018 Proceed Checkout Form. All Rights Reserved | Design by 
        <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a>
      </p>
    </div>
    <!--js working-->
    <script src="{{ url_for('static', filename='js/jquery-2.2.3.min.js')}}"></script>
    <!--//js working--> 
    <!--pop-up-box video-->
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.js')}}"></script>
    <script>
      $(document).ready(function() {
      $('.popup-with-zoom-anim').magnificPopup({
      type: 'inline',
      fixedContentPos: false,
      fixedBgPos: true,
      overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-zoom-in'
      });
      
      });
    </script>
    <!-- //pop-up-box video -->
    <!-- single -->
    <script src="{{ url_for('static', filename='js/imagezoom.js')}}"></script>
    <!-- single -->
    <!-- FlexSlider -->
    <script src="{{ url_for('static', filename='js/jquery.flexslider.js')}}"></script>
    <script>
      // Can also be used with $(document).ready()
      $(window).load(function () {
      	$('.flexslider1').flexslider({
      		animation: "slide",
      		controlNav: "thumbnails"
      	});
      });
    </script>
    <!-- //FlexSlider-->
  </body>
</html>
